<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LMSInventorySystem</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/STGDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.lms.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>com.lms.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeadHeaderController</display-name>
    <servlet-name>LeadHeaderController</servlet-name>
    <servlet-class>com.lms.controller.LeadHeaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeadHeaderController</servlet-name>
    <url-pattern>/LeadHeaderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.lms.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomerDetails</display-name>
    <servlet-name>GetCustomerDetails</servlet-name>
    <servlet-class>com.lms.util.GetCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerDetails</servlet-name>
    <url-pattern>/GetCustomerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.lms.util.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostSummary</display-name>
    <servlet-name>CostSummary</servlet-name>
    <servlet-class>com.lms.util.CostSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostSummary</servlet-name>
    <url-pattern>/CostSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEngineModelDetails</display-name>
    <servlet-name>GetEngineModelDetails</servlet-name>
    <servlet-class>com.lms.util.GetEngineModelDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEngineModelDetails</servlet-name>
    <url-pattern>/GetEngineModelDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeadItemDetailsController</display-name>
    <servlet-name>LeadItemDetailsController</servlet-name>
    <servlet-class>com.lms.controller.LeadItemDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeadItemDetailsController</servlet-name>
    <url-pattern>/LeadItemDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCostDetails</display-name>
    <servlet-name>GetCostDetails</servlet-name>
    <servlet-class>com.lms.util.GetCostDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCostDetails</servlet-name>
    <url-pattern>/GetCostDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLeadItems</display-name>
    <servlet-name>DeleteLeadItems</servlet-name>
    <servlet-class>com.lms.util.DeleteLeadItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLeadItems</servlet-name>
    <url-pattern>/DeleteLeadItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.lms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.lms.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLeadController</display-name>
    <servlet-name>UpdateLeadController</servlet-name>
    <servlet-class>com.lms.controller.UpdateLeadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLeadController</servlet-name>
    <url-pattern>/UpdateLeadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCompetitiors</display-name>
    <servlet-name>GetCompetitiors</servlet-name>
    <servlet-class>com.lms.util.GetCompetitiors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCompetitiors</servlet-name>
    <url-pattern>/GetCompetitiors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>com.lms.controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/ReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCity</display-name>
    <servlet-name>GetCity</servlet-name>
    <servlet-class>com.lms.util.GetCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCity</servlet-name>
    <url-pattern>/GetCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsController</display-name>
    <servlet-name>CommentsController</servlet-name>
    <servlet-class>com.lms.controller.CommentsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsController</servlet-name>
    <url-pattern>/CommentsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttachmentByLeadID</display-name>
    <servlet-name>GetAttachmentByLeadID</servlet-name>
    <servlet-class>com.lms.util.GetAttachmentByLeadID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttachmentByLeadID</servlet-name>
    <url-pattern>/GetAttachmentByLeadID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetScheduleDetails</display-name>
    <servlet-name>GetScheduleDetails</servlet-name>
    <servlet-class>com.lms.util.GetScheduleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScheduleDetails</servlet-name>
    <url-pattern>/GetScheduleDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleController</display-name>
    <servlet-name>ScheduleController</servlet-name>
    <servlet-class>com.lms.controller.ScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleController</servlet-name>
    <url-pattern>/ScheduleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateIndentReport</display-name>
    <servlet-name>GenerateIndentReport</servlet-name>
    <servlet-class>com.lms.util.GenerateIndentReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateIndentReport</servlet-name>
    <url-pattern>/GenerateIndentReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvertBudgetToLead</display-name>
    <servlet-name>ConvertBudgetToLead</servlet-name>
    <servlet-class>com.lms.util.ConvertBudgetToLead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvertBudgetToLead</servlet-name>
    <url-pattern>/ConvertBudgetToLead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailController</display-name>
    <servlet-name>MailController</servlet-name>
    <servlet-class>com.lms.controller.MailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailController</servlet-name>
    <url-pattern>/MailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndentDetailsController</display-name>
    <servlet-name>IndentDetailsController</servlet-name>
    <servlet-class>com.lms.controller.IndentDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndentDetailsController</servlet-name>
    <url-pattern>/IndentDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidatorController</display-name>
    <servlet-name>ValidatorController</servlet-name>
    <servlet-class>com.lms.controller.ValidatorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidatorController</servlet-name>
    <url-pattern>/ValidatorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockController</display-name>
    <servlet-name>StockController</servlet-name>
    <servlet-class>com.lms.controller.StockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockController</servlet-name>
    <url-pattern>/StockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FFSController</display-name>
    <servlet-name>FFSController</servlet-name>
    <servlet-class>com.lms.controller.FFSController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FFSController</servlet-name>
    <url-pattern>/FFSController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkingReport</display-name>
    <servlet-name>WorkingReport</servlet-name>
    <servlet-class>com.lms.util.WorkingReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkingReport</servlet-name>
    <url-pattern>/WorkingReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIndentDetails</display-name>
    <servlet-name>GetIndentDetails</servlet-name>
    <servlet-class>com.lms.util.GetIndentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndentDetails</servlet-name>
    <url-pattern>/GetIndentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLeadNo</display-name>
    <servlet-name>GetLeadNo</servlet-name>
    <servlet-class>com.lms.util.GetLeadNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLeadNo</servlet-name>
    <url-pattern>/GetLeadNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIndentCostSummaryDetails</display-name>
    <servlet-name>GetIndentCostSummaryDetails</servlet-name>
    <servlet-class>com.lms.util.GetIndentCostSummaryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndentCostSummaryDetails</servlet-name>
    <url-pattern>/GetIndentCostSummaryDetails</url-pattern>
  </servlet-mapping>
</web-app>